# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Environment variables
.env

# Logs
logs/
*.log
debug.log
nohup.out

# Build files
dist/
build/

# Database dumps
*.sqlite
*.sqlite3
*.bak
*.dump
*.sql

# System files
.DS_Store
Thumbs.db
